html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    min-height: 100%;
}

/*.burger{*/
/*    display: none;*/
/*    width: 50px;*/
/*    border: 1px solid white;*/
/*}*/

/*.burger>*{*/
/*    width: 100%;*/
/*    height: 20px;*/
/*    margin-top: 5px;*/
/*    background-color: white;*/
/*}*/

/*.activeBurger{*/
/*    transform: rotate(90deg);*/
/*    color: white;*/
/*}*/

.hack{
    font-size: 5rem;
    color: red;
    margin: 0 auto;
    padding: 11%;
    text-align: center;
}

.block-menu{
    background-color: black;
    display: grid;
    color: white;
    grid-template-columns: repeat(9, 1fr);
    font-size: 2rem;
    transition: all 1s ease;
    height: 100%;
}

.block-menu > a{
    font-family: Ancient;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    color: white;
    height: 100%;
}

.block-menu>a:hover{
   color: white;
    border-radius: 5px;
    text-decoration: none;
    height: 100%;
}

.block-menu>a:active{
    color: white;
    border-radius: 5px;
    text-decoration: none;
    height: 100%;
}

main{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

main>img{
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

.welcome{
    font-family: Ancient;
    position: absolute;
    margin-bottom: 25%;
    text-align: center;
    color: black;
    font-size: 5rem;
    width: 650px;
    -webkit-animation: welcome 3s linear infinite;
    animation: welcome 3s linear infinite;
}

.welcome:hover{
    opacity: 100%;
    transition: all 1s ease;
    cursor: default;
}

@-webkit-keyframes welcome {
    0% { color: rgba(34, 34, 34, 1); }
    50% { color: rgba(34, 34, 34, 0.2); }
    100% { color: rgba(34, 34, 34, 1); }
}
@keyframes welcome {
    0% { color: rgba(34, 34, 34, 1); }
    50% { color: rgba(34, 34, 34, 0.2); }
    100% { color: rgba(34, 34, 34, 1); }
}

.site{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: 100%;
    height: 70px;
    background-color: black;
    font-size: 300%;
    font-family: Ancient;

}


.site>div>p{
    color: silver;
    padding-left: 5%;
    font-style: normal;
}

.reg, .name{
    padding-left: 25%;
}

footer{
    font-family: Ancient;
    background-color: black;
    font-size: 45px;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 1s ease;
}

footer>div{
    text-align: center;
    vertical-align: center;
}

footer>div>a:active{
    text-decoration: none;
    color: white;
}

footer>div>a{
    text-decoration: none;
    color: white;
}

footer > div > a:hover{
    text-decoration: underline;
    color: white;
}

.backCateg{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.backCateg>img{
    opacity: 70%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

.informCateg{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 30px;
}

.informName{
    text-align: center;
    background-color: silver;
    opacity: 70%;
    border: 1px solid black;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 50px;
    font-family: Ancient;
    font-size: 2rem;
}

.backReg{
    max-width: 100%;
    min-height: 100%;
    padding-bottom: 5%;
    padding-top: 5%;
}

.backHistory{
    max-width: 100%;
    min-height: 100%;
    padding: 5%;
}

.backHistory>div{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 20px;
    background-color: rgba(197, 201, 199, 0.8);
    font-family: Arial;
    font-size: 150%;
}

.backHistory>div>h1{
    font-family: Ancient;
    font-weight: normal;
    text-align: center;
    font-size: 3.5rem;
}

.back{
    min-height: 100%;
    max-width: 100%;
    min-height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.element{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 20px;
    background-color: rgba(197, 201, 199, 0.8);
    font-family: Arial;
    font-size: 150%;
}

.element>h1{
    font-family: Ancient;
    font-weight: normal;
    text-align: center;
    font-size: 3.5rem;
}

.inform>img{
    margin-bottom: 30px;
    width: 350px;
    height: auto;
    margin-left: 32%;
}


@font-face {
    font-family: Ancient;
    src: url("/fonts/Ancient.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


.regPhoto{
    width: 50%;
}

.profile{
    text-align: center;
}

.profile>img{
    width: 50%;
    height: 50%;
}

.admin-panel{
    background-color: rgba(197, 201, 199, 0.8);
    padding: 1.5%;
}



/*@media screen and (max-width: 320px){*/
/*    .block-menu{*/
/*        display: grid;*/
/*        grid-template-columns: 1fr;*/
/*        transition: all 1s ease;*/
/*        width: 100%;*/
/*    }*/

/*    .block-menu a{*/
/*        font-size: 1rem;*/
/*        width: 100%;*/
/*        max-width: 260px;*/
/*    }*/

/*    .block-menu a:active{*/
/*        font-size: 1rem;*/
/*    }*/

/*    .block-menu>a:hover{*/
/*        color: white;*/
/*        background-color: blue;*/
/*        border-radius: 5px;*/
/*        font-size: 1rem;*/
/*        text-decoration: none;*/
/*        width: 100%;*/
/*    }*/

/*    main{*/
/*        width: 100%;*/
/*        max-width: 320px;*/
/*    }*/

/*    main>img{*/
/*        width: auto;*/
/*        max-width: 320px;*/
/*    }*/

/*    main .welcome{*/
/*        opacity: 70%;*/
/*        font-size: 0.75rem;*/
/*        position: absolute;*/
/*        margin-bottom: 25%;*/
/*        margin-right: 10%;*/
/*        text-align: center;*/
/*        width: 150px;*/
/*    }*/

/*    .site{*/
/*        display: grid;*/
/*        grid-template-columns: 70% 30%;*/
/*        width: 100%;*/
/*        max-width: 320px;*/
/*    }*/

/*    .logo{*/
/*        font-size: 80%;*/
/*        padding-top: 10px;*/
/*        transition: all 2s ease;*/
/*        width: 100%;*/
/*        max-width: 320px;*/
/*    }*/

/*    .backHistory{*/
/*        background-repeat: no-repeat;*/
/*    }*/

/*    .up{*/
/*        right: 5%;*/
/*    }*/
/*}*/

/*@media screen and (width: 360px){*/
/*    .block-menu{*/
/*        display: grid;*/
/*        grid-template-columns: 1fr;*/
/*        transition: all 1s ease;*/
/*        width: 100%;*/
/*        max-width: 360px;*/
/*    }*/

/*    .block-menu a{*/
/*        font-size: 1rem;*/
/*        width: 100%;*/
/*        max-width: 300px;*/
/*    }*/

/*    .block-menu a:active{*/
/*        font-size: 1rem;*/
/*        width: 80%;*/
/*        max-width: 300px;*/
/*    }*/

/*    .block-menu>a:hover{*/
/*        color: white;*/
/*        background-color: blue;*/
/*        border-radius: 5px;*/
/*        font-size: 15px;*/
/*        text-decoration: none;*/
/*        width: 100%;*/

/*    }*/

/*    footer>div{*/
/*        padding-top: 3%;*/
/*        text-align: center;*/
/*        vertical-align: center;*/
/*    }*/

/*    footer>div>a:active{*/
/*        text-decoration: none;*/
/*        color: white;*/
/*    }*/

/*    footer>div>a{*/
/*        text-decoration: none;*/
/*        color: white;*/
/*    }*/

/*    main{*/
/*        width: 100%;*/

/*    }*/

/*    main>img{*/
/*        width: auto;*/
/*        max-width: 360px;*/
/*    }*/

/*    main .welcome{*/
/*        opacity: 70%;*/
/*        font-size: 0.75rem;*/
/*        position: absolute;*/
/*        margin-top: 2%;*/
/*        margin-right: 10%;*/
/*        text-align: center;*/
/*        width: 150px;*/
/*    }*/

/*    .site{*/
/*        display: grid;*/
/*        grid-template-columns: 0fr repeat(2, 1fr);*/
/*        width: 100%;*/
/*    }*/

/*    .change{*/
/*        color: black;*/
/*        text-decoration: none;*/
/*        float: left;*/
/*        font-size: 1.6rem;*/
/*    }*/

/*    .change:active{*/
/*        color: black;*/
/*        text-decoration: none;*/
/*        float: left;*/
/*        font-size: 2rem;*/
/*    }*/

/*    .change:hover{*/
/*        color: black;*/
/*        text-decoration: underline;*/
/*        float: left;*/
/*        font-size: 2rem;*/
/*    }*/

/*    .admin{*/
/*        float: right;*/
/*        font-size: 2.5rem;*/
/*        padding-left: 10%;*/
/*    }*/

/*    .admin:active{*/
/*        color: black;*/
/*        text-decoration: none;*/
/*        float: right;*/
/*        font-size: 2.5rem;*/
/*        padding-left: 10%;*/
/*    }*/

/*    .admin:hover{*/
/*        color: black;*/
/*        text-decoration: underline;*/
/*        float: right;*/
/*        font-size: 2.5rem;*/
/*        padding-left: 10%;*/
/*    }*/

/*    .logo{*/
/*        display: none;*/
/*    }*/

/*    .backHistory{*/
/*        background-repeat: no-repeat;*/
/*    }*/

/*    .up{*/
/*        right: 5%;*/
/*    }*/
/*}*/

/*@media screen and (width: 375px){*/
/*    !*.block-menu{*!*/
/*    !*    display: none;*!*/
/*    !*}*!*/

/*    !*.burger{*!*/
/*    !*    display: block;*!*/
/*    !*}*!*/

/*    !*.active{*!*/
/*    !*    opacity: 1;*!*/
/*    !*    display: grid;*!*/
/*    !*    grid-template-columns: 1fr;*!*/
/*    !*    width: 250px;*!*/
/*    !*    transition: all 1.5s;*!*/
/*    !*    margin: 10px;*!*/
/*    !*}*!*/

/*    !*.container{*!*/
/*    !*    background-color: black;*!*/
/*    !*}*!*/

/*    .block-menu{*/
/*        display: grid;*/
/*        grid-template-columns: 1fr;*/
/*        transition: all 1s ease;*/
/*        width: 100%;*/
/*    }*/

/*    .block-menu a{*/
/*        font-size: 1rem;*/
/*        width: 100%;*/
/*        max-width: 260px;*/
/*    }*/

/*    .block-menu a:active{*/
/*        font-size: 1rem;*/
/*    }*/

/*    .block-menu>a:hover{*/
/*        color: white;*/
/*        background-color: blue;*/
/*        border-radius: 5px;*/
/*        font-size: 1rem;*/
/*        text-decoration: none;*/
/*        width: 100%;*/
/*    }*/

/*    footer{*/
/*        height: 70px;*/
/*    }*/

/*    footer>div{*/
/*        padding-top: 3%;*/
/*        text-align: center;*/
/*        vertical-align: center;*/
/*    }*/

/*    footer>div>a:active{*/
/*        text-decoration: none;*/
/*        color: white;*/
/*    }*/

/*    footer>div>a{*/
/*        text-decoration: none;*/
/*        color: white;*/
/*    }*/

/*    main>img{*/
/*        height: 320px;*/
/*    }*/

/*    main .welcome{*/
/*        opacity: 70%;*/
/*        font-size: 0.9rem;*/
/*        position: absolute;*/
/*        margin-bottom: 25%;*/
/*        margin-right: 7%;*/
/*        text-align: center;*/
/*        width: 185px;*/
/*    }*/

/*    .site{*/
/*        display: grid;*/
/*        grid-template-columns: 0fr repeat(2, 1fr);*/
/*        width: 100%;*/
/*    }*/

/*    .change{*/
/*        color: black;*/
/*        text-decoration: none;*/
/*        float: left;*/
/*        font-size: 1.5rem;*/
/*    }*/

/*    .change:active{*/
/*        color: black;*/
/*        text-decoration: none;*/
/*        float: left;*/
/*        font-size: 2rem;*/
/*    }*/

/*    .change:hover{*/
/*        color: black;*/
/*        text-decoration: underline;*/
/*        float: left;*/
/*        font-size: 2rem;*/
/*    }*/

/*    .admin{*/
/*        float: right;*/
/*        font-size: 2.5rem;*/
/*        padding-left: 10%;*/
/*    }*/

/*    .admin:active{*/
/*        color: black;*/
/*        text-decoration: none;*/
/*        float: right;*/
/*        font-size: 2.5rem;*/
/*        padding-left: 10%;*/
/*    }*/

/*    .admin:hover{*/
/*        color: black;*/
/*        text-decoration: underline;*/
/*        float: right;*/
/*        font-size: 2.5rem;*/
/*        padding-left: 10%;*/
/*    }*/

/*    .logo{*/
/*        display: none;*/
/*    }*/

/*    .backHistory{*/
/*        width: 99%;*/
/*    }*/

/*    .history{*/
/*        width: 98%;*/
/*        padding: 5px;*/
/*    }*/
/*}*/

/*@media screen and (width: 414px){*/
/*    main .welcome{*/
/*        opacity: 70%;*/
/*        font-size: 15px;*/
/*        position: absolute;*/
/*        margin-bottom: 25%;*/
/*        text-align: center;*/
/*        width: 200px;*/
/*    }*/

/*    .block-menu{*/
/*        display: grid;*/
/*        grid-template-columns: 1fr;*/
/*        transition: all 1s ease;*/
/*    }*/

/*    .block-menu>a:hover{*/
/*        color: white;*/
/*        background-color: blue;*/
/*        border-radius: 5px;*/
/*        font-size: 25px;*/
/*        text-decoration: none;*/
/*    }*/

/*    footer>div{*/
/*        padding-top: 3%;*/
/*        text-align: center;*/
/*        vertical-align: center;*/
/*    }*/

/*    footer>div>a:active{*/
/*        text-decoration: none;*/
/*        color: white;*/
/*    }*/

/*    footer>div>a{*/
/*        text-decoration: none;*/
/*        color: white;*/
/*    }*/

/*    .soloists{*/
/*        max-width: 390px;*/
/*        width: 100%;*/
/*    }*/

/*    .soloists table{*/
/*        width: 350px;*/
/*    }*/

/*    .solo{*/
/*        width: 50%;*/
/*    }*/

/*    .albums{*/
/*        width: 100%;*/
/*        max-width: 391px;*/
/*    }*/

/*    .albums table{*/
/*        margin: auto;*/
/*        width: 70%;*/
/*    }*/

/*    .albumImages{*/
/*        width: 100%;*/
/*        height: auto;*/
/*    }*/

/*    .up{*/
/*        right: 5%;*/
/*    }*/

/*    .auth-admin{*/
/*        border: 1px solid black;*/
/*        background-color: rgba(255,255,255,0.3);*/
/*        width: 30%;*/
/*        height: 10%;*/
/*        padding: 10px;*/
/*        margin-left: 35%;*/
/*        margin-top: 5%;*/
/*    }*/

/*    .form-group input{*/
/*        width: 50%;*/
/*    }*/
/*}*/

/*@media screen and (width: 720px){*/
/*    .block-menu{*/
/*        display: grid;*/
/*        grid-template-columns: 1fr;*/
/*        transition: all 1s ease;*/
/*    }*/

/*    .block-menu>a:hover{*/
/*        color: white;*/
/*        background-color: blue;*/
/*        border-radius: 5px;*/
/*        font-size: 25px;*/
/*        text-decoration: none;*/
/*    }*/

/*    main>img{*/
/*        width: 100%;*/
/*        height: auto;*/
/*    }*/

/*    .site{*/
/*        display: grid;*/
/*        grid-template-columns: 70% 30%;*/
/*    }*/

/*    .logo{*/
/*        font-size: 80%;*/
/*        padding-top: 10px;*/
/*        transition: all 2s ease;*/
/*    }*/

/*    .soloists{*/
/*        width: 50%;*/
/*    }*/

/*    .soloists table{*/
/*        width: 50%;*/
/*    }*/

/*    .albums table{*/
/*        width: 70%;*/
/*    }*/

/*    .albums table .albumImages{*/
/*        width: 100%;*/
/*        height: auto;*/
/*    }*/

/*    .solo{*/
/*        width: 100%;*/
/*        height: auto;*/
/*    }*/

/*    .photo{*/
/*        width: 150%;*/
/*        height: auto;*/
/*    }*/

/*    .biog{*/
/*        height: 50px;*/
/*    }*/

/*    main>.welcome{*/
/*        opacity: 70%;*/
/*        font-size: 20px;*/
/*        position: absolute;*/
/*        margin-bottom: 70%;*/
/*        margin-right: 30px;*/
/*        text-align: center;*/
/*        width: 300px;*/
/*    }*/

/*    .biography>img{*/
/*        width: 100%;*/
/*    }*/
/*}*/

/*@media screen and (width: 768px){*/
/*    .block-menu{*/
/*        display: none;*/
/*    }*/

/*    .burger{*/
/*        display: block;*/
/*    }*/

/*    .active{*/
/*        opacity: 1;*/
/*        display: grid;*/
/*        grid-template-columns: 1fr;*/
/*        width: 250px;*/
/*        transition: all 1.5s;*/
/*        margin: 10px;*/
/*    }*/

/*    main>img{*/
/*        height: 550px;*/
/*    }*/

/*    main>.welcome{*/
/*        font-size: 3rem;*/
/*        margin-top: 40%;*/
/*    }*/

/*    .site{*/
/*        display: grid;*/
/*        grid-template-columns: 3fr 0fr 1fr;*/
/*    }*/

/*    .logo{*/
/*        display: none;*/
/*    }*/

/*    .soloists{*/
/*        width: 97.4%;*/
/*    }*/

/*    .soloists table{*/
/*        width: 50%;*/
/*    }*/

/*    .albums table{*/
/*        width: 70%;*/
/*    }*/

/*    .albums table .albumImages{*/
/*        width: 100%;*/
/*        height: auto;*/
/*    }*/

/*    .solo{*/
/*        width: 100%;*/
/*        height: auto;*/
/*    }*/

/*    .photo{*/
/*        width: 150%;*/
/*        height: auto;*/
/*    }*/

/*    .biog{*/
/*        height: 50px;*/
/*    }*/

/*    main>.welcome{*/
/*        opacity: 70%;*/
/*        font-size: 20px;*/
/*        position: absolute;*/
/*        margin-bottom: 70%;*/
/*        margin-right: 30px;*/
/*        text-align: center;*/
/*        width: 300px;*/
/*    }*/

/*    .biography>img{*/
/*        width: 100%;*/
/*    }*/

/*    .form>img{*/
/*        height: 550px;*/
/*    }*/
/*}*/

/*@media screen and (width: 1024px){*/
/*    .block-menu{*/
/*        display: grid;*/
/*        grid-template-columns: 1fr;*/
/*        transition: all 1s ease;*/
/*    }*/
/*    .main{*/
/*        display: grid;*/
/*        grid-template-columns: 0 100% 0;*/
/*    }*/

/*    .site{*/
/*        display: grid;*/
/*        grid-template-columns: 70% 30%;*/
/*    }*/

/*    .logo{*/
/*        font-size: 80%;*/
/*        padding-top: 10px;*/
/*        transition: all 2s ease;*/
/*    }*/

/*    .soloists table{*/
/*        width: 50%;*/
/*    }*/

/*    .albums table{*/
/*        width: 50%;*/
/*    }*/

/*    .albums table .albumImages{*/
/*        width: 100%;*/
/*        height: auto;*/
/*    }*/

/*    .solo{*/
/*        width: 100%;*/
/*        height: auto;*/
/*    }*/


/*    .solo{*/
/*        width: 100%;*/
/*        height: auto;*/
/*    }*/

/*    .photo{*/
/*        width: 150%;*/
/*        height: auto;*/
/*    }*/

/*    .biog{*/
/*        width: 150px;*/
/*    }*/

/*    main .welcome{*/
/*        opacity: 70%;*/
/*        font-size: 2rem;*/
/*        position: absolute;*/
/*        margin-top: 100%;*/
/*        margin-right: 15%;*/
/*        text-align: center;*/
/*        width: 400px;*/
/*    }*/
/*}*/

/*@media screen and (width: 1280px){*/
/*    .block-menu{*/
/*        display: grid;*/
/*        grid-template-columns: repeat(5,1fr);*/
/*        transition: all 1s ease;*/
/*        width: 100%;*/
/*    }*/

/*    main .welcome{*/
/*        opacity: 15%;*/
/*        font-size: 2rem;*/
/*        position: absolute;*/
/*        margin-bottom: 300px;*/
/*        text-align: center;*/
/*        width: 500px;*/
/*        height: 100px;*/
/*    }*/

/*    .form>img{*/
/*        width: 100%;*/
/*        height: 100%;*/
/*    }*/

/*    .auth{*/
/*        -ms-transform: translateX(-150%) translateY(-50%);*/
/*    }*/

/*    .form>img{*/
/*        height: 755px;*/
/*    }*/

/*    .hack{*/
/*        height: 473px;*/
/*    }*/
/*}*/
